/* lte IE 9 style*/
.ms-loading-container .ms-loading,
.ms-slide .ms-slide-loading {
	border-radius: 60px;
	position: relative;
}

.ms-default-btn {
	border-radius: 5px;
	position: relative;
}

.ms-btn-round {
	border-radius: 5px;
	position: relative;
}

.ms-btn-circle {
	border-radius: 100px;
	position: relative;
}

.ms-btn-outline-round {
	border-radius: 5px;
	position: relative;
}

.ms-btn-outline-circle {
	border-radius: 100px;
	position: relative;
}

.ms-sbar .ms-bar {
	border-radius: 4px;
	position: relative;
}

