<div class="footer_area">
    <div class="content_inner">
        <div class="footer_logo">
            <a href="http://elseve.lorealparis.com.tr" target="_blank" data-ga="elseve-web-site-footer-logo"> <img src="/images/footer_logo.jpg" class="footer_logo_img" /></a>
        </div>
        <div class="footer_breadcrump">
            <div class="footer_breadcrumb_unit_wrapper">
                <ul class="footer_breadcrumb">
                    <li>
                        <a href="/sac-bakimi">SAÇ BAKIMI</a>
                    </li>
                    <li>
                        <a href="/sac-modelleri">SAÇ MODELLERİ</a>
                    </li>
                    <li>
                        <a href="/unlulerden-tavsiyeler">ÜNLÜLERDEN TAVSİYELER </a>
                    </li>
                    <li>
                        <a href="/uzmana-sor">UZMANA SOR</a>
                    </li>
                    <li>
                        <a href="izle-ve-uygula">İZLE VE UYGULA</a>
                    </li>
                    <li>
                        <a href="/saclariyla-gucluler">SAÇLARIYLA GÜÇLÜLER</a>
                    </li>
                    <li>
                        <a href="/ipuclari">İPUÇLARI</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="footer_copyright">
            <p class="copyRight">Copyright 2014. saclarimlagucluyum.lorealparis.com.tr</p>
        </div>
        <div class="footer_social">
            <a class="instagram_Bt" href="http://instagram.com/lorealparis_tr" target="_blank" data-ga="sm-instagram-footer"></a>
            <a class="footerTw_Bt" href="https://twitter.com/LorealParisTR" data-ga="sm-twitter-footer"></a>  
            <a class="footerFb_Bt" href="http://www.facebook.com/lorealparistr" target="_blank" data-ga="sm-facebook-footer"></a>
        </div>

    </div>
</div>