<div class="top_whte_area">
    <div class="content_inner">
        <div class="top_menu">
            <ul class="top_menu_nav">
                <li>
                    <span>SAÇLARIMLA GÜÇLÜYÜM</span>
                </li>
                <li>
                    <a href="http://www.modasaclarinda.com/" target="_blank" data-ga="moda-saclarinda-com"> MODA SAÇLARINDA</a>
                </li>
                <li>
                    <a href="http://www.makyaj.com/" target="_blank" data-ga="makyaj-com"> MAKYAJ.COM </a>
                </li>
            </ul>
        </div>
        <div class="top_social">                        
            <a class="topYoutube" href="http://www.youtube.com/lorealparistr" target="_blank" data-ga="youtube-top-bar"></a> 
            <a class="topInsta" href="http://instagram.com/lorealparis_tr" target="_blank" data-ga="sm-instagram-top-bar"></a>  
            <a class="topTw" href="https://twitter.com/LorealParisTR" target="_blank" data-ga="sm-twitter-top-bar"></a>
            <a class="topFb" href="http://www.facebook.com/lorealparistr" target="_blank" data-ga="sm-facebook-top-bar"></a>  
        </div>
    </div>
</div>