<div class="ipuclari_area">
    <h1 class="page_title">İPUÇLARI</h1>

    <a href="@PathHelper.ContentDetail(54, "Buklelerine-hayat-ver-kivircik-saclilar-icin-sac-bakimi")" class="ipucu_box2">
        <h3 class="ipucu_title">Buklelerine hayat ver: Kıvırcık saçlılar için saç bakımı</h3>
        <p class="ipucu_txt">Kıvırcık saçlar, sahip olmayanlar için her zaman imrenme sebebi. Ancak sağlıkla ışıldayan göz alıcı buklelerin bakımı zorlu ve stresli bir süreç olabilir. Bunun nedeni ise kendin için doğru saç bakımı rejimini bulmanın pek kolay olmaması...</p>
    </a>

    <a href="@PathHelper.ContentDetail(55, "kisi-yenme-zamani-bere-takarken-saclarin-guzel-gorunsun")" class="ipucu_box2">
        <h3 class="ipucu_title">Kışı yenme zamanı: Bere takarken saçların güzel görünsün</h3>
        <p class="ipucu_txt">Kışın vazgeçilmez aksesuarları olan bereler ve şapkalar, her kombinasyonu güzelleştiriyolar. Ancak bir de bu işin karanlık kısmı var: Bozulan saçlar! Bu soruna çözüm bulmak için düşündük taşındık ve saç stilistlerinden aldığımız tavsiyelerle senin için bir liste hazırladık...</p>
    </a>


    <a href="@PathHelper.ContentDetail(55, "herkes-onu-istiyor-parlak-saclar")" class="ipucu_box2">
        <h3 class="ipucu_title">Herkes onu istiyor: Parlak saçlar! </h3>
        <p class="ipucu_txt">Parlaklık:  Bu kelimeye yüklediğimiz pozitif anlamların sayısı, saç tellerimizin sayısından fazla olabilir! Haksız da değiliz. Parlak saçlar kendimizi iyi hissettiren en önemli etkenlerden biri. Her şeyden önce sağlığın bir göstergesi olan parlak saçlara kavuşmanın binbir yolu var...</p>
    </a>

    <div class="bt_div">
        <a class="tumunu_gorBt" href="/ipuclari"></a>
    </div>
</div>
