/* lte IE 9 style*/
.ms-skin-default .ms-tooltip-point .ms-point-center {
	border-radius: 15px;
	position: relative;
}

.ms-skin-default .ms-tooltip-point .ms-point-border {
	border-radius: 15px;
	position: relative;
}

/* retina */
@media 
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx)  { }