<script>

    $(function () {

        initBannerSlider();

    });

    function initBannerSlider() {
        var sliderMainBanner = new MasterSlider();

        sliderMainBanner.control('bullets');

        sliderMainBanner.setup('mainBanner', {
            width: 1400,
            height: 400,
            space: 1,
            layout: 'fullwidth',
            loop: true,
            preload: 0,
            instantStartLayers: true,
            autoplay: true
        });
    }


</script>

<div class="main_banner_area">
    <div class="master-slider ms-skin-default" id="mainBanner">
        <!-- new slide -->
        <div class="ms-slide">
            <!-- slide background -->
            <img src="/scripts/masterslider/blank.gif" data-src="/images/content/1_b.png" alt="" />
            <a href="/detay/54/buklelerine-hayat-ver-kivircik-saclilar-icin-sac-bakim" data-ga="banner1-click-id-54"></a>

            <!-- slide text layer -->
            <div class="ms-layer ms-caption" style="bottom:0px; left:30px;">
                <div class="bannerCaption">
                    <h1>
                        BUKLELERİNE HAYAT 
                        VER
                    </h1>
                    <p>KIVIRCIK SAÇLAR İÇİN SAÇ BAKIMI</p>
                    <a class="detay2Bt" href="/detay/54/buklelerine-hayat-ver-kivircik-saclilar-icin-sac-bakim" data-ga="banner1-click-id-54"></a>
                </div>
            </div>
        </div>
        <!-- end of slide -->
        <!-- new slide -->
        <div class="ms-slide">
            <!-- slide background -->
            <img src="/scripts/masterslider/blank.gif" data-src="/images/content/2_b.png" alt="" />
            <a href="/detay/8/banyo-sanati-biraz-simarmak-herkesin" data-ga="banner2-click-id-8"></a>
            <!-- slide text layer -->
            <div class="ms-layer ms-caption" style="bottom:0px; left:30px; ">
                <div class="bannerCaption">
                    <h1>
                        BANYO SANATI
                    </h1>
                    <p>BİRAZ ŞIMARMAK HERKESİN HAKKI!</p>
                    <a class="detay2Bt" href="/detay/8/banyo-sanati-biraz-simarmak-herkesin" data-ga="banner2-click-id-8"></a>
                </div>
            </div>
        </div>
        <!-- end of slide -->
        <!-- new slide -->
        <div class="ms-slide">
            <!-- slide background -->
            <img src="/scripts/masterslider/blank.gif" data-src="/images/content/3_b.png" alt="" />
            <a href="/detay/38/dugunun-icin-ilham-al-orta-uzunluktaki" data-ga="banner3-click-id-38"></a>
            <!-- slide text layer -->
            <div class="ms-layer ms-caption" style="bottom:0px; left:30px;">
                <div class="bannerCaption">
                    <h1>
                        DÜĞÜNÜN İÇİN <br />
                        İLHAM AL
                    </h1>
                    <p>ORTA UZUNLUKTAKİ SAÇLAR İÇİN BOHEM DALGALAR</p>
                    <a class="detay2Bt" href="/detay/38/dugunun-icin-ilham-al-orta-uzunluktaki" data-ga="banner3-click-id-38"></a>
                </div>
            </div>
        </div>
        <!-- end of slide -->
    </div>
</div>